section
    .categories__list
        .uk-container
            .uk-flex
                div.category
                    div.category__title
                        | Популярные бренды
                    a.category__link
                        i(class="icon right-openicon-")

                div.category
                    div.category__title
                        | Уход за волосами
                    a.category__link
                        i(class="icon right-openicon-")

                div.category
                    div.category__title
                        | Товары для мужчин
                    a.category__link
                        i(class="icon right-openicon-")