footer
  .uk-container
    .uk-flex
      div.copyright
        p @ 2010-2016
        p Интернет-магазин профессиональной косметики.
        | Все права защищены.
      div.footer__menu
        .footer__menu__title О нас
        ul
          li
            a(href="#") О магазине
          li
            a(href="#") Контакты
      div.footer__menu
        .footer__menu__title Помощь
        ul
          li
            a(href="#") Доставка и оплата
          li
            a(href="#") Статус заказа
          li
            a(href="#") Консультации
          li
            a(href="#") Скидки
          li
            a(href="#") Оптовым покупателям
      div.footer__menu
        .footer__menu__title Информация
        ul
          li
            a(href="#") Подлинность продукции
          li
            a(href="#") Конфиденциальность
          li
            a(href="#") Договор оферты
          li
            a(href="#") Правила продажи
          li
            a(href="#") Поставщикам
      div.footer__menu
        .footer__menu__title Партнеры
        a(href="#")
          img(src="../img/partner.png")
        ul.inner__menu
          li
            a(href="#") Подарочные
          li
            a(href="#") сертификаты
      div.footer__menu
        .footer__menu__title Мы в соцсетях

        ul.social__menu
          li
            a(href="#")
              i.icon.icon-instagramm
          li
            a(href="#")
              i.icon.icon-vk
          li
            a(href="#")
              i.icon.icon-facebook










link(href='./css/vendor.bundle.css', rel="stylesheet")
link(href='css/bundle.css', rel='stylesheet')


