header
  .uk-container
    .uk-flex.uk-flex-between.header__top
        .header__contact
          a.header__phone(href="tel:8 495 748 62 61") 8 495 748 62 61
          span.header__worktime Пн-Пт с 10 до 20

        .header__nav
          ul.header__navbar__nav
            li.header__nav__item
              a.header__nav__link(href="#") Главная
            li.header__nav__item
              a.header__nav__link(href="#") Доставка и оплата
            li.header__nav__item
              a.header__nav__link(href="#") Скидки
            li.header__nav__item
              a.header__nav__link(href="#") Гарантии
            li.header__nav__item
              a.header__nav__link(href="#") Консультации

        .header__enter.uk-flex
          a(href="#") Войти на сайт
          div.header__cart.uk-flex
            i.icon.icon-cart
            span.header__cart__count 2
    .uk-flex.header__middle
        a(class="header__middle__logo") Lovelyshops.com
    .uk-flex.header__bottom
      nav
        ul.header__main__nav
          li.header__main__item
            a.header__main__link(href="#") Бренды
          li.header__main__item
            a.header__main__link(href="#") Для волос
          li.header__main__item
            a.header__main__link(href="#") Для лица
          li.header__main__item
            a.header__main__link(href="#") Для рук
          li.header__main__item
            a.header__main__link(href="#") Для ног
          li.header__main__item
            a.header__main__link(href="#") Для тела
          li.header__main__item
            a.header__main__link(href="#") Аксессуары
          li.header__main__item
            a.header__main__link(href="#") Парфюмерия
          li.header__main__item
            a.header__main__link(href="#") Для мужчин
      .header__bottom__search
        form
          button
            i(class="icon icon-search")