section
    .uk-container
        .uk-flex.products__list
            div.product
                .product__info
                    .product__title Cloud Nine Touch
                    .product__description
                        | Сенсорный стайлер для выпрямления волос
                    .product__price 13 216 руб
                .product__image
                    img(src='img/product_1.png')

                .product__addcart
                    form
                        button.product__addcart__button
                            i.icon.icon-basket
            div.product
                .product__info
                    .product__title Cloud Nine Touch
                    .product__description
                        | Сенсорный стайлер для выпрямления волос
                    .product__price 13 216 руб
                .product__image
                    img(src='img/product_2.png')
                .product__addcart
                    form
                        button.product__addcart__button
                            i.icon.icon-basket
            div.product
                .product__info
                    .product__title Cloud Nine Touch
                    .product__description
                        | Сенсорный стайлер для выпрямления волос
                    .product__price 13 216 руб
                .product__image
                    img(src='img/product_3.png')
                .product__addcart
                    form
                        button.product__addcart__button
                            i.icon.icon-basket
            div.product
                .product__info
                    .product__title Cloud Nine Touch
                    .product__description
                        | Сенсорный стайлер для выпрямления волос
                    .product__price 13 216 руб
                .product__image
                    img(src='img/product_4.png')
                .product__addcart
                    form
                        button.product__addcart__button
                            i.icon.icon-basket
            div.product
                .product__info
                    .product__title Cloud Nine Touch
                    .product__description
                        | Сенсорный стайлер для выпрямления волос
                    .product__price 13 216 руб
                .product__image
                    img(src='img/product_5.png')
                .product__addcart
                    form
                        button.product__addcart__button
                            i.icon.icon-basket-white
            div.product
                .product__info
                    .product__title Cloud Nine Touch
                    .product__description
                        | Сенсорный стайлер для выпрямления волос
                    .product__price 13 216 руб
                .product__image
                    img(src='img/product_6.png')
                .product__addcart
                    form
                        button.product__addcart__button
                            i.icon.icon-basket
            div.product
                .product__info
                    .product__title Cloud Nine Touch
                    .product__description
                        | Сенсорный стайлер для выпрямления волос
                    .product__price 13 216 руб
                .product__image
                    img(src='img/product_7.png')
                .product__addcart
                    form
                        button.product__addcart__button
                            i.icon.icon-basket
            div.product
                .product__info
                    .product__title Cloud Nine Touch
                    .product__description
                        | Сенсорный стайлер для выпрямления волос
                    .product__price 13 216 руб
                .product__image
                    img(src='img/product_8.png')
                .product__addcart
                    form
                        button.product__addcart__button
                            i.icon.icon-basket
            div.product
                .product__info
                    .product__title Cloud Nine Touch
                    .product__description
                        | Сенсорный стайлер для выпрямления волос
                    .product__price 13 216 руб
                .product__image
                    img(src='img/product_9.png')
                .product__addcart
                    form
                        button.product__addcart__button
                            i.icon.icon-basket
            div.product
                .product__info
                    .product__title Cloud Nine Touch
                    .product__description
                        | Сенсорный стайлер для выпрямления волос
                    .product__price 13 216 руб
                .product__image
                    img(src='img/product_10.png')
                .product__addcart
                    form
                        button.product__addcart__button
                            i.icon.icon-basket
            div.product__banner

                    .product__title
                        | Интернет-магазин
                        | профессиональной косметики
                    .product__description
                        p Дорогой посетитель, мы рады пригласить Вас в прекрасный мир высококачественной и профессиональной косметики!

                        p На просторах нашего магазина вас ждет обширный выбор продукции для лица, тела, рук, ногтей, волос, различные эксклюзивные обертывания.

                    img(src='img/small__banner.png')

