doctype html
html(lang="ru")
  include components/_head
  body
    include components/_header
    main
      include components/_slider
      include components/_categories
      include components/_products
    include components/_footer
